body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-figma-hand: "Figma Hand";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;

  /* Colors */
  --color-gray-100: rgba(255, 255, 255, 0.5);
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
  --color-turquoise: #50d1bf;

  /* Border radiuses */
  --br-mini: 15px;
}
